.active{
    border-color: #0e7a81;
    border-width: 2px;
    border-style: solid;
    border-radius: 3.3rem;
    background-color: rgba(14, 122, 129, 0.1);
}

.inactive{
    /* 'border-2', 'border-slate-200','rounded-lg', 'hover:border-slate-300', */
    border-width: 2px; 
    border-color: #e2e8f0;
    border-style: solid;
    border-radius: 0.5rem;
    background-color: white;
}
.inactive:hover{
    border-color: #cbd5e1;
}

.liked-btn{
    background-color: rgba(14, 122, 129, 0.1);
    border-color: rgb(14, 122, 129);
    border-width: 2px;
    border-style: solid;
}
.unliked-btn{
    border-width: 2px;
    border-style: solid;
    border-color: #e2e8f0;
}
.unliked-btn:hover{
    border-color: #cbd5e1;
}

#spinner ul > li{
    list-style: none;
    width: 12px;
    height: 20px;
    background-color: rgb(108, 108, 108);
    animation: spinner .8s infinite alternate;
}
@keyframes spinner{
    0%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(3);
    }
}
#spinner ul li:nth-child(1){
    animation-delay: .0s;
}
#spinner ul li:nth-child(2){
    animation-delay: .3s;
}
#spinner ul li:nth-child(3){
    animation-delay: .6s;
}